#user{
    text-align:right;
}
#appt{
    font-size:2em;
}
#work{
    font-size:2em;
}
#logButton{
    position:fixed;
    right:0;
}
#footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
}